@charset "UTF-8";
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.add_price {
  font-size: 160%;
  color: black;
  display: inline-block;
  margin: 5px; }

ul li {
  list-style: none;
  white-space: nowrap; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'sans-serif,Hiragino Kaku Gothic W5 JIS2004'; }

/*--------------フォーム--------------*/
.form {
  margin: auto;
  text-align: center; }
  .form__btn {
    color: black;
    border: none;
    padding: 10px 20px;
    animation-name: RightToLeft;
    animation-duration: 1s;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Cabin Sketch', cursive; }
    @media screen and (max-width: 415px) {
      .form__btn {
        height: 70px;
        width: 200px;
        font-size: 20px;
        position: static; } }
    .form__btn:hover {
      transform: scale(0.95); }
  .form__modal {
    width: 80%;
    height: 650px;
    background: #dfeeeee6;
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    text-align: center;
    transition: 1s;
    animation-name: OpacityMove;
    box-shadow: 4px 4px; }
    @media screen and (max-width: 415px) {
      .form__modal {
        width: 90%;
        top: 10%;
        left: 50%;
        height: 550px; } }
    .form__modal h2 {
      font-size: 20px;
      margin: 50px auto 50px auto; }
      @media screen and (max-width: 415px) {
        .form__modal h2 {
          font-size: 16px; } }
    .form__modal__close {
      background: white;
      padding: 10px 15px;
      margin: 30px auto;
      position: absolute;
      font-size: 12px;
      top: 2%;
      left: 5%;
      letter-spacing: 2px; }
      @media screen and (max-width: 415px) {
        .form__modal__close {
          left: 4%;
          top: 85%; } }
      .form__modal__close:hover {
        box-shadow: 0 0 7px #1abc9c;
        border: 2px solid #1abc9c; }
    .form__modal p {
      font-size: 10px; }

.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11; }

.confirm {
  width: 60%;
  height: 650px;
  padding: 10% 10%;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 20vw;
  z-index: 13;
  text-align: center;
  transition: 1s;
  box-shadow: 4px 4px;
  animation-name: cover_action;
  /* CSSアニメーション名 */
  animation-duration: .4s;
  /* アニメーションのスピード */
  animation-fill-mode: forwards;
  /* アニメーションの最後の状態を維持する */ }
  .confirm p {
    margin: 2%; }
  @media screen and (max-width: 415px) {
    .confirm {
      width: 90%;
      top: 10%;
      left: 5vw;
      height: 550px; } }

@keyframes cover_action {
  0% {
    width: 0;
    opacity: 0.1; }
  50% {
    width: 10%;
    opacity: 0.4; }
  75% {
    width: 30%;
    opacity: 0.7; }
  100% {
    width: 60%;
    opacity: 1;
    background: #55D5D5; } }

.btn_group {
  text-align: center;
  margin-top: 100px; }
  .btn_group button {
    margin: 20% 5%;
    padding: 3%; }

.post_finish {
  width: 60%;
  height: 650px;
  padding: 10% 10%;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 20vw;
  z-index: 14;
  text-align: center;
  transition: 1s;
  box-shadow: 4px 4px;
  animation-name: finish_action;
  /* CSSアニメーション名 */
  animation-duration: 1s;
  /* アニメーションのスピード */
  animation-fill-mode: forwards;
  /* アニメーションの最後の状態を維持する */ }
  @media screen and (max-width: 415px) {
    .post_finish {
      width: 90%;
      top: 10%;
      left: 5vw;
      height: 550px; } }

@keyframes finish_action {
  0% {
    height: 10px;
    opacity: 0.1; }
  100% {
    height: 650px;
    opacity: 1;
    background: white; } }

.btn_group {
  text-align: center; }
  .btn_group button {
    margin: 20% 5%;
    padding: 3%; }

input[type="text"] {
  width: 200px;
  height: 25px;
  transition: 0.2s; }
  input[type="text"]:focus {
    box-shadow: 0 0 7px #1abc9c;
    border: 2px solid #1abc9c;
    width: 250px;
    height: 30px;
    transition: 0.2s; }

input[type="email"] {
  width: 200px;
  height: 25px;
  transition: 0.2s; }
  input[type="email"]:focus {
    box-shadow: 0 0 7px #1abc9c;
    border: 2px solid #1abc9c;
    width: 250px;
    height: 30px;
    transition: 0.2s; }

input[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: #9BE983;
  font-size: 15px;
  margin: 15px; }
  input[type="submit"]:hover {
    border-bottom: 4px solid #f5000061;
    color: #1b1b1b91; }

textarea {
  transition: 0.6s;
  margin: 20px 20px 0 20px; }
  @media screen and (max-width: 415px) {
    textarea {
      width: 80%;
      margin: auto; } }
  textarea:focus {
    box-shadow: 0 0 7px #1abc9c;
    border: 2px solid #1abc9c;
    width: 310px;
    transition: 0.6s; }

.error {
  color: red; }

.form-count {
  font-size: 10px; }

/*-------------ヘッダー---------------*/
header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #D1ECEFDE;
  position: fixed;
  z-index: 10;
  font-style: oblique; }
  header .logo {
    margin: auto 10px;
    font-family: 'Cabin Sketch', cursive;
    line-height: -moz-block-height;
    font-size: 40px; }
    @media screen and (max-width: 415px) {
      header .logo {
        width: 90%;
        font-size: 20px; } }
  header .menu {
    width: 60%;
    height: 50px; }
    @media screen and (max-width: 415px) {
      header .menu {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        background: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        transition: .1s; }
        header .menu.active {
          transition: .5s;
          transform: translateX(-100%);
          z-index: 2; } }
    header .menu li {
      float: left;
      line-height: 50px;
      padding-left: 10px;
      margin-left: 30px;
      font-size: 12px;
      animation-name: RightToLeft;
      animation-duration: 1s; }
      @media screen and (max-width: 415px) {
        header .menu li {
          float: none;
          font-size: 12px;
          margin: 20px 0px; } }
      header .menu li a {
        text-decoration: none;
        color: #1a1a1a;
        transition: 1s;
        font-family: 'Cabin Sketch', cursive; }
        header .menu li a:hover {
          border-bottom: 4px solid #bb352b;
          color: red; }

.toggle-menu {
  text-align: center; }

.menu__trigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  margin: 5px;
  height: 32px;
  z-index: 3; }
  @media screen and (max-width: 415px) {
    .menu__trigger {
      display: inline-block; } }
  .menu__trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #1a1a1a;
    border-radius: 4px; }
    @media screen and (max-width: 415px) {
      .menu__trigger span {
        left: -20px; } }
    .menu__trigger span:nth-of-type(1) {
      top: 0; }
    .menu__trigger span:nth-of-type(2) {
      top: 14px; }
    .menu__trigger span:nth-of-type(3) {
      bottom: 0; }
  .menu__trigger:active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .menu__trigger:active span:nth-of-type(2) {
    opacity: 0; }
  .menu__trigger:active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

.top-box {
  height: 80px; }

.billboard {
  background-attachment: fixed;
  display: block;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, #e7e8e700, #23b0541c), url(../img/top.jpg);
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 415px) {
    .billboard {
      background-image: url(../img/top-sm.png);
      height: 600px;
      background-attachment: inherit; } }
  .billboard__mask {
    height: 100%; }
  .billboard__text {
    background-color: #ffffffc4;
    padding: 20px 40px;
    font-size: 30px;
    line-height: 60px;
    font-style: italic;
    color: black;
    display: block;
    position: absolute;
    top: 10%;
    left: 5%;
    -webkit-text-stroke: 0.7px #000;
    border-radius: 10px; }
    @media screen and (max-width: 415px) {
      .billboard__text {
        font-size: 20px;
        top: 10%;
        background-color: #fff0;
        left: 0;
        padding: 10px;
        color: white; } }
    .billboard__text .b-text__main {
      animation-name: UpToBottom;
      animation-duration: 2s;
      font-weight: bold; }
  .billboard__news {
    display: block;
    width: 100%;
    text-align: center;
    font-style: oblique;
    padding: 30px 0; }
    @media screen and (max-width: 415px) {
      .billboard__news {
        height: 160px; } }
    .billboard__news h2 {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      width: 20%;
      font-size: 20px;
      color: black;
      padding: 20px;
      margin: 10px auto 20px auto; }
      @media screen and (max-width: 415px) {
        .billboard__news h2 {
          font-size: 3vw;
          width: 40%; } }
    .billboard__news li {
      font-size: 15px;
      color: black;
      padding: 5px 0; }
      @media screen and (max-width: 415px) {
        .billboard__news li {
          font-size: 10px; } }
      .billboard__news li time {
        margin: 0 5px; }

.b-text__sub {
  animation-name: BottomToUp;
  animation-duration: 2s;
  font-size: 20px;
  position: absolute;
  bottom: 130px;
  left: auto;
  font-weight: lighter;
  background: #ffffffc4;
  border-radius: 50px 0;
  padding: 50px; }
  @media screen and (max-width: 415px) {
    .b-text__sub {
      font-size: 16px;
      margin-top: 150px; } }

/*シーン*/
.scene {
  display: block;
  height: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  background: radial-gradient(#FFF, #9acbf5); }
  @media screen and (max-width: 415px) {
    .scene {
      height: 700px; } }
  .scene__text {
    animation-name: BottomToUp;
    animation-duration: 1s;
    margin: auto;
    padding: 15%;
    text-align: center; }
    @media screen and (max-width: 415px) {
      .scene__text {
        padding: 150px 50px; } }
    .scene__text h2 {
      font-size: 40px;
      margin: 75px 0;
      color: black;
      font-style: italic; }
      @media screen and (max-width: 415px) {
        .scene__text h2 {
          font-size: 24px;
          margin: 75px 0 50px 0;
          text-align: center; } }
      .scene__text h2:after {
        content: "Space and Momentとは";
        color: gray;
        font-size: 0.5em;
        display: block; }
        @media screen and (max-width: 415px) {
          .scene__text h2:after {
            font-size: 16px; } }
    .scene__text p {
      font-size: 15px;
      height: 100%;
      letter-spacing: 1px;
      line-height: 25px; }
      @media screen and (max-width: 415px) {
        .scene__text p {
          font-size: 14px;
          line-height: 20px;
          width: 100%; } }
  .scene__circle {
    border: black solid 0.5px;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    position: absolute; }
    @media screen and (max-width: 415px) {
      .scene__circle {
        height: 100px;
        width: 100px;
        opacity: 0.5; } }
    .scene__circle:hover {
      opacity: 0.6;
      transition: 0.4s; }
    .scene__circle__mask {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: 0.4s; }
    .scene__circle.fas {
      font-size: 150px; }

.circle1 {
  top: 15%;
  left: 5%;
  background-image: url(../img/game.png);
  background-size: cover; }

.circle2 {
  top: 15%;
  right: 5%;
  background-image: url(../img/beer.png);
  background-size: cover; }

.circle3 {
  bottom: 15%;
  left: 5%;
  background-image: url(../img/necty.png);
  background-size: cover; }

.circle4 {
  bottom: 15%;
  right: 5%;
  background-image: url(../img/cart.png);
  background-size: cover; }

.service {
  width: 100%;
  margin-bottom: 100px;
  /*サービスエクスプレイン*/ }
  @media screen and (max-width: 415px) {
    .service {
      margin-bottom: 20px; } }
  .service__top {
    width: 100%;
    margin: auto; }
    .service__top h2 {
      font-size: 40px;
      margin: 75px 0;
      color: black;
      text-align: center;
      font-style: italic; }
      @media screen and (max-width: 415px) {
        .service__top h2 {
          font-size: 24px;
          margin: 75px 0 50px 0;
          text-align: center; } }
      .service__top h2:after {
        content: "提供サービス";
        color: gray;
        font-size: 0.5em;
        display: block; }
        @media screen and (max-width: 415px) {
          .service__top h2:after {
            font-size: 16px; } }
  .service__explain {
    text-align: center;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed; }
    @media screen and (max-width: 415px) {
      .service__explain {
        height: 250px; } }
    .service__explain__img {
      padding-top: 5%;
      height: 70%;
      width: 100%; }
      .service__explain__img img {
        width: 100px;
        margin: 0 5%; }
        @media screen and (max-width: 415px) {
          .service__explain__img img {
            width: 50px;
            height: 50px; } }
    .service__explain h2 {
      margin: 30px; }
      @media screen and (max-width: 415px) {
        .service__explain h2 {
          font-size: 1em; } }

.service__wifi {
  height: 750px;
  overflow: hidden;
  width: 100%;
  background: radial-gradient(#FFF, #9acbf5); }
  @media screen and (max-width: 415px) {
    .service__wifi {
      height: 900px; } }
  .service__wifi__left {
    height: 100%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin-top: 50px;
    animation-name: RightToLeft;
    animation-duration: 1s; }
    @media screen and (max-width: 415px) {
      .service__wifi__left {
        line-height: 20px;
        width: 100%;
        height: 40%;
        float: none; } }
    .service__wifi__left h2 {
      text-align: center;
      font-size: 40px;
      margin: 40px 0;
      color: black;
      font-style: italic; }
      @media screen and (max-width: 415px) {
        .service__wifi__left h2 {
          font-size: 24px;
          text-align: center;
          margin: 75px 0 40px 0; } }
      .service__wifi__left h2::after {
        content: "インターネットサービス";
        color: gray;
        font-size: 0.5em;
        display: block; }
        @media screen and (max-width: 415px) {
          .service__wifi__left h2::after {
            font-size: 16px; } }
    .service__wifi__left p {
      font-size: 15px;
      margin: 20px;
      letter-spacing: 1px;
      line-height: 25px;
      text-align: center; }
      @media screen and (max-width: 415px) {
        .service__wifi__left p {
          width: 80%;
          margin: auto;
          font-size: 14px; } }
  .service__wifi__right {
    height: 100%;
    width: 50%;
    float: right;
    box-sizing: border-box;
    position: relative;
    margin-top: 100px; }
    @media screen and (max-width: 415px) {
      .service__wifi__right {
        height: 50%;
        width: 100%;
        margin-top: auto;
        float: none; } }
    .service__wifi__right img {
      box-shadow: 12px 12px;
      transition: 0.5s;
      width: 55%; }
      @media screen and (max-width: 415px) {
        .service__wifi__right img {
          float: none;
          text-align: center; } }
      .service__wifi__right img:hover {
        border-radius: 10%;
        transition: 0.8s;
        transform: scale(1.1); }
    .service__wifi__right .img1 {
      transform: rotate(10deg);
      position: absolute;
      left: 20%;
      z-index: 2; }
      @media screen and (max-width: 415px) {
        .service__wifi__right .img1 {
          transform: none;
          position: relative;
          top: auto; } }
    .service__wifi__right .img2 {
      position: absolute;
      top: 40%;
      left: 5%; }

.service__catering {
  height: 900px;
  overflow: hidden; }
  @media screen and (max-width: 415px) {
    .service__catering {
      height: 800px;
      background-image: url(../img/catering.jpg);
      background-size: cover;
      background-attachment: fixed; } }
  .service__catering .food_menu {
    animation-name: BottomToUp;
    animation-duration: 1s;
    padding: 30px; }
    @media screen and (max-width: 415px) {
      .service__catering .food_menu li {
        font-size: 12px; } }
  .service__catering__left {
    height: 100%;
    width: 100%;
    background-image: url(../img/catering.jpg);
    background-size: cover;
    background-attachment: fixed;
    float: left; }
    @media screen and (max-width: 415px) {
      .service__catering__left {
        width: 100%;
        height: 70%;
        float: left;
        background-image: none; } }
    .service__catering__left-text {
      height: 100%;
      width: 100%;
      display: block;
      background-color: rgba(51, 35, 20, 0.5);
      margin: auto;
      text-align: center; }
      @media screen and (max-width: 415px) {
        .service__catering__left-text {
          height: 140%; } }
      .service__catering__left-text h2 {
        font-style: italic;
        text-align: center;
        font-size: 40px;
        padding-top: 100px;
        color: white; }
        @media screen and (max-width: 415px) {
          .service__catering__left-text h2 {
            font-size: 24px;
            text-align: center;
            margin: 0px auto 40px auto;
            padding-top: 75px; } }
        .service__catering__left-text h2:after {
          content: "料理提供サービス";
          color: white;
          font-size: 0.5em;
          display: block; }
          @media screen and (max-width: 415px) {
            .service__catering__left-text h2:after {
              font-size: 16px; } }
      .service__catering__left-text h4 {
        font-size: 20px;
        text-align: center;
        color: white;
        margin: 10px; }
        @media screen and (max-width: 415px) {
          .service__catering__left-text h4 {
            font-size: 15px; } }
      .service__catering__left-text li {
        font-size: 15px;
        margin: 12px;
        color: white;
        text-align: center; }
        @media screen and (max-width: 415px) {
          .service__catering__left-text li {
            font-size: 10px; } }
  .service__catering__right {
    position: relative;
    height: 100%;
    width: 20%;
    float: right;
    /*
      .card{
        display: block;
        width:300px;
        height: 200px;
        background-color: rgba(0, 0, 500, 0.1);
        border: solid 1px;
        font-family: 'Cabin Sketch', cursive; //Cabin Sketch
        font-size: 70px;
        color: yellow;
        */ }
    @media screen and (max-width: 415px) {
      .service__catering__right {
        width: 80%;
        height: 100px;
        font-size: 20px; } }
    .service__catering__right:hover {
      opacity: 0.8; }
  .service__catering .card1 {
    position: absolute;
    top: 100px;
    background-image: url(../img/beer-cart.jpg);
    background-size: cover; }
    @media screen and (max-width: 415px) {
      .service__catering .card1 {
        top: -200px;
        left: 10px; } }
  .service__catering .card2 {
    position: absolute;
    top: 310px;
    bottom: 100px;
    background-image: url(../img/snack.jpg);
    background-size: cover; }
    @media screen and (max-width: 415px) {
      .service__catering .card2 {
        top: -75px;
        left: 10px; } }

.card {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: rgba(247, 242, 242, 0.29);
  border: solid 1px;
  font-size: 30px;
  line-height: 50px;
  color: yellow;
  margin-top: 30px; }
  @media screen and (max-width: 415px) {
    .card {
      width: 100px;
      height: 30px;
      line-height: 30px;
      font-size: 20px; } }

.service__gameimg-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.service__game {
  width: 100%;
  display: block;
  margin-top: 75px; }
  .service__game__wrapper {
    display: flex;
    box-sizing: border-box; }
    @media screen and (max-width: 415px) {
      .service__game__wrapper {
        flex-wrap: wrap; } }
  .service__game__img {
    width: 60%; }
    @media screen and (max-width: 415px) {
      .service__game__img {
        width: 100%;
        padding: 50px 0; } }
    .service__game__img img {
      width: 250px;
      transition: 0.5s;
      margin: 3%; }
      @media screen and (max-width: 415px) {
        .service__game__img img {
          width: 40%;
          height: auto;
          display: block; } }
      .service__game__img img:hover {
        border-radius: 10%;
        transition: 0.5s;
        transform: scale(1.1); }
  .service__game__text {
    width: 40%;
    padding: 50px auto;
    display: block;
    text-align: center;
    animation-name: RightToLeft;
    animation-duration: 1s;
    background-color: #eed6d685; }
    @media screen and (max-width: 415px) {
      .service__game__text {
        padding: 40px;
        width: 80%;
        margin: auto;
        line-height: 20px; } }
    .service__game__text h2 {
      font-style: italic;
      font-size: 40px;
      padding: 50px; }
      @media screen and (max-width: 415px) {
        .service__game__text h2 {
          padding: 10px 0;
          font-size: 24px; } }
      .service__game__text h2:after {
        content: "ボードゲーム/テレビゲーム";
        color: gray;
        font-size: 0.5em;
        display: block; }
        @media screen and (max-width: 415px) {
          .service__game__text h2:after {
            font-size: 16px; } }
    .service__game__text p {
      font-size: 15px;
      margin: 10px 30px;
      letter-spacing: 1px;
      line-height: 25px; }
      @media screen and (max-width: 415px) {
        .service__game__text p {
          font-size: 14px; } }

/*----------------------priceのとこ-------------*/
.service__price {
  height: 850px;
  background: radial-gradient(#FFF, #9acbf5);
  animation-name: RightToLeft;
  animation-duration: 1s;
  font-family: "Montserrat",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro',游ゴシック体,'Yu Gothic',YuGothic,sans-serif; }
  .service__price p {
    text-align: center;
    font-size: 20px; }
    @media screen and (max-width: 415px) {
      .service__price p {
        font-size: 15px; } }
  .service__price__culc h2 {
    font-size: 30px;
    padding: 50px 0 100px 0;
    text-align: center; }
    @media screen and (max-width: 415px) {
      .service__price__culc h2 {
        padding: 35px 0 70px 0;
        font-size: 20px; } }
    .service__price__culc h2::after {
      content: "※一人当たり/1日あたりの金額です";
      color: gray;
      font-size: 0.5em;
      display: block; }
  .service__price__top h2 {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
    font-style: italic; }
    @media screen and (max-width: 415px) {
      .service__price__top h2 {
        padding: 75px 0 75px 0;
        font-size: 24px; } }
    .service__price__top h2:after {
      content: "値段";
      color: gray;
      font-size: 0.5em;
      display: block; }
      @media screen and (max-width: 415px) {
        .service__price__top h2:after {
          font-size: 16px; } }

.wifi-price {
  text-align: center;
  width: 33%;
  float: left; }
  @media screen and (max-width: 415px) {
    .wifi-price {
      width: 100%;
      margin-bottom: 75px; } }
  .wifi-price h3 {
    padding: 10px; }
    @media screen and (max-width: 415px) {
      .wifi-price h3 {
        font-size: 12px; } }
  .wifi-price__button {
    display: inline-block;
    color: black;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;
    height: 50px;
    width: 80%;
    pointer-events: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /*影*/
    -webkit-tap-highlight-color: transparent;
    position: relative; }
    @media screen and (max-width: 415px) {
      .wifi-price__button {
        width: 130px; } }
    .wifi-price__button::after {
      content: "Checked!";
      font-size: 0.5em;
      color: red;
      position: absolute;
      bottom: -10px;
      right: -10px;
      background-color: #87ceebcc;
      padding: 10px;
      border-radius: 10px;
      z-index: 5; }

.each_img {
  width: 50px;
  height: 50px; }
  @media screen and (max-width: 415px) {
    .each_img {
      width: 30px;
      height: 30px; } }

.button__active::after {
  content: "Checked!";
  font-size: 0.5em;
  color: yellow;
  position: absolute;
  bottom: 10px;
  right: -30px;
  animation-name: RightToLeft;
  animation-duration: 1s;
  transition: 1s;
  background-color: #87ceebcc;
  padding: 5px;
  border-radius: 10px;
  z-index: 2; }

.price-post {
  width: 33%;
  float: left;
  text-align: center; }
  @media screen and (max-width: 415px) {
    .price-post {
      width: 50%; } }
  .price-post h3 {
    padding: 10px; }
    @media screen and (max-width: 415px) {
      .price-post h3 {
        font-size: 12px; } }
  .price-post__button {
    display: inline-block;
    color: black;
    font-size: 1em;
    line-height: -moz-block-height;
    text-decoration: none;
    letter-spacing: 0.05em;
    height: 50px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;
    /*変化を緩やかに*/
    position: relative;
    line-height: 50px;
    font-size: 30px; }
    @media screen and (max-width: 415px) {
      .price-post__button {
        padding: 25px 0px 25px 0px;
        font-size: 20px; } }
    .price-post__button:hover {
      opacity: 0.6; }

/*---------------------place-------------*/
.place {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .place h2 {
    font-size: 40px;
    padding: 50px 0;
    color: black;
    font-style: italic; }
    @media screen and (max-width: 415px) {
      .place h2 {
        padding: 20px 0;
        font-size: 24px; } }
    .place h2::after {
      content: "アクセス";
      color: gray;
      font-size: 0.5em;
      display: block; }
      @media screen and (max-width: 415px) {
        .place h2::after {
          font-size: 16px; } }
  .place__toptext {
    font-style: bold;
    font-size: 3rem;
    margin: 30px auto;
    display: inline-block;
    line-height: 100px; }
    @media screen and (max-width: 415px) {
      .place__toptext {
        font-size: 6vw; } }
  .place p {
    font-size: 15px;
    margin: 10px;
    position: absolute;
    top: 15%;
    left: 30%;
    animation-name: LeftToRight;
    animation-duration: 1s; }
    @media screen and (max-width: 415px) {
      .place p {
        left: 0;
        background-color: #525a165e;
        color: white;
        line-height: 25px;
        top: 10%; } }
  .place__image {
    height: 700px;
    width: 100%;
    background-image: url(../img/out2.jpg);
    background-size: cover; }
    @media screen and (max-width: 415px) {
      .place__image {
        height: 500px; } }
  .place .map {
    text-align: center;
    margin: 5%; }

footer {
  height: 40px;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  line-height: 40px; }
  @media screen and (max-width: 415px) {
    footer__text {
      font-size: 11px; } }

@keyframes BottomToUp {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateY(100px); }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateY(0); } }

@keyframes UpToBottom {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateY(-200px); }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateY(0); } }

@keyframes RightToLeft {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateX(100px);
    /* X軸方向に50px */ }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateX(0); } }

@keyframes LeftToRight {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateX(-200px);
    /* X軸方向に50px */ }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateX(0); } }

@keyframes OpacityMove {
  0% {
    opacity: 0;
    /* 透明 */ }
  100% {
    opacity: 1;
    /* 不透明 */ } }

/*---------------テーブル*/
table {
  width: 100%;
  border-collapse: collapse; }

table tr {
  border-bottom: solid 2px white; }

table tr:last-child {
  border-bottom: none; }

table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: black;
  text-align: center;
  padding: 10px 0; }
  @media screen and (max-width: 415px) {
    table th {
      font-size: 10px; } }

table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

table td {
  text-align: left;
  width: 60%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0; }
  @media screen and (max-width: 415px) {
    table td {
      font-size: 10px;
      padding: 0 10px; } }

.price_table {
  margin-left: auto;
  margin-right: auto;
  width: 75%; }
  .price_table table {
    width: 100%; }
