<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ビウーの練習</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--fontawasome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
  <body>
<div id="app1">
  ここにメッセが入るよ！
  {{ message }}
</div>
<br>
<div id="app2">
<span v-bind:title="message" v-bind:class="classObject"></span>
ここにホバーすると日付が出るか？
</div>
<br>

<div id="app3">
  <span v-if="isShow">v-ifはisShowで出すか否か</span>
</div>
<br>

<div id="app4">
  <div v-for="todo in todos">
    {{ todo.text }}
</div>
</div>
<br>


<div id="app5">
app5 v-onだ！divタグで閉じ忘れたからエラーになったよ！！
<p>{{ message }}</p>
<button type="text" v-on:click="changeMs">
ここのメッセを変えるよ
</button>
</div>
<br>

<div class="app6">
入力すると文字数を取得するよ！！<br>
<input type="text" v-model="message">
<span>文字数：{{ message.length }}</span>
</div>
<br>

<div id="app7">
  ここにv-model出すよ！
  <p>{{ message }}</p>
  <input type="text" v-model="message" value="">
</div>
<br>
L33こっから。
<br>
<div id="app8">
  v-if。
  <span v-if="isShow === 'a'">イコールはaなんです。</span>
  <span v-else-if="isShow === 'b'">bとなりました！</span>
  <span v-else>それ以外です。</span>
</div>
<br>app9
<div id="app9">
  <span v-show="isShow">isしょだよ</span>
  <span v-show="!isShow">isしょじゃないんだよ</span>

</div>

<br>app10

<div id="app10">
  <input type="checkbox" v-model="isShow">
  isshowの状態 {{isShow}}
  <p>showString: {{showString}}</p>
  <p>showStringMethods: {{ showStringMethods() }}</p>
  <p>シンプルにリターンshowStringMethods2: {{ showStringMethods2() }}</p>
</div>
<br>
app11
<div id="app11">
  サニタイズ。データにはpタグで囲んでどうなるんや！とこう書いてるよ。<br>
  ただのタグ・<br>
  <p>{{script}}</p>
   vと-htmlをしたんよ。<br>
  <p v-html="script"></p>

</div>
<br>
<br>


<style>
.fade-enter-active, .fade-leave-active {
transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
opacity: 0;
}
</style>


<div id="app12">

  <button v-on:click="show = !show">トグルボタンだよ</button>
  <transition name="fade">
  <p v-if="show">減ろう</p>

  </transition>
</div>
<br>
<br>

<div id="app13">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>



<script src="practice.js"></script>

</body>
</html>
